*{
  font-family: arial,sans-serif;
  font-size: 14px;
}

/* top left */
#topLeft{
  display: inline-block;
  float: left;
}

/* top right */
#topRight{
  display: inline-block;
  float: right;
}

.fa-th{
  opacity: .55;
}

.fa-th:hover {
  opacity: 1;
}

#profileIcon{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* links */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}